body{
    text-align: center;
    background-color: black;
    user-select: none;
    touch-action: manipulation;
}

.canvas{
      width: 100%;
      height: 100%;
      max-width: 400px;
      max-height: 500px;
      border: 2px solid black;
      background-color:powderblue;
  }

  .button-group{
    padding: 10px;
  }

  button{
    margin-top: 10px;
    padding: 50px;
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 5%;
    border: none;
    background-color:whitesmoke;
  }
  #Jump{
    padding-left: 60px;
    padding-right: 60px;
  }

  #restart{
    display: none;
  }

  #warning{
    display: none;
    font-size: xx-large;
    color: yellow;
  }